* {
    box-sizing: border-box;
}

.page {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes";
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-reset {
    color: inherit;
    text-decoration: none;
}

.text {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 400;
    color: #7E7E82;
}

.text--title {
    text-transform: uppercase;
}

/* header */

.header {
    display: flex;
    min-width: 320px;
    min-height: 88px;
    padding: 16px;
    background-color: #ffffff;
    align-items: center;
}

.icon-btn {
    margin-right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.icon-btn:hover {
    opacity: 0.6;
}

.icon-btn:last-child {
    margin-right: 0;
}

.icons-list__item {
    margin-right: 16px;
}

.icons-list__item:last-child {
    margin-right: 0;
}

.header__logo {
    position: relative;
    margin-right: auto;
}

.header__icons {
    position: relative;
    margin-left: auto;
}

.header__icons::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -20px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.icons-list {
    display: flex;
    justify-content: flex-start;
}

.icons-list--display {
    display: none;
}

@media (min-width: 768px) {
    .header__logo {
        margin-left: 43px;
    }

    .icons-list--display {
        display: flex;
    }

    .header__logo::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -45px;
        margin-left: 16px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .header__icons {
        margin-left: 42px;
    }
}

@media(min-width: 1440px) {
    .header {
        display: none;
    }
}

/* section services */

.services {
    background-color: #F8F8F8;
    min-width: 320px;
    padding-bottom: 24px;
    border-top: 1px solid #D9FFF5;
}

.services__container {
    height: 100%;
}

.services__menu {
    position: relative;
    margin-bottom: 24px;
}

.services__title {
    position: relative;
    min-width: 304px;
    min-height: 40px;
    margin: 0;
    padding: 24px 16px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.services__title::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    left: 0;
    background-color: #41F6D7;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.services__title::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 40px;
    right: 0;
    top: 88px;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1));
}

.interactive-icons {
    display: none;
}

.main-nav {
    padding-left: 16px;
}

.main-nav__list {
    display: flex;
    overflow-x: auto;
}

.main-nav__item {
    height: 40px;
    white-space: nowrap;
}

.main-nav__link {
    display: block;
    border: 2px solid transparent;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
}

.main-nav__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

@media (hover: none) {
    .main-nav__link:focus {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFFFFF;
    }
}


.about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    justify-content: space-between;
}

.about__content {
    height: 100%;
    padding-bottom: 16px;
}

.about__text {
    margin: 0;
    min-width: 288px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 16px;
    margin-bottom: 16px;
    overflow-y: hidden;
    letter-spacing: 0.2px;
    white-space: pre-line;
    vertical-align: top;
}

.btn {
    position: relative;
    display: block;
    height: 24px;
    padding: 0;
    padding-left: 32px;
    min-width: 132px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1B1C21;
    border: none;
    text-align: left;
}

.btn:hover {
    cursor: pointer;
}

.btn--open {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    margin-bottom: 16px;
}

.btn--hidden {
    display: none;
}

.btn__image {
    margin-right: 16px;
    text-align: left;
}

.main-image {
    width: 100%;
    height: auto;
}

.main-image__img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .services__container {
        min-height: 416px;
        padding: 24px;
        padding-bottom: 40px;
    }

    .services__title {
        padding: 24px 24px 32px;
    }

    .services__title::after {
        top: 96px;
    }

    .services__menu {
        margin-bottom: 32px;
    }

    .about {
        min-width: 720px;
        min-height: 208px;
        flex-wrap: nowrap;
        gap: 48px;
    }

    .about__content {
        padding-bottom: 0;
    }

    .about__text {
        padding-left: 24px;
        min-width: 312px;
        height: 160px;
        margin-bottom: 10px;
    }

    .main-image__img {
        min-width: 360px;
        min-height: 208px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

@media (min-width: 1120px) {
    .page {
        margin: 0 auto;
        max-width: 1120px;
    }

    .services__title {
        padding: 42px 32px 8px 32px;
    }

    .main-nav {
        padding-left: 32px;
    }

    .main-nav__list {
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .about__text {
        width: 490px;
        height: 160px;
        padding: 16px 0 0 32px;
    }

    .interactive-icons {
        display: flex;
        gap: 32px;
        position: absolute;
        top: 42px;
        right: 32px;
        color: #1B1C21;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
    }

    .interactive-icons__link {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 40px;
    }

    .services__menu {
        width: 100%;
        min-height: 130px;
        margin-bottom: 7px;
    }

    .main-image {
        padding-right: 32px;
    }
}

/* menu */

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 320px;
    min-height: 1024px;
    padding: 23px 24px;
    padding-bottom: 32px;
    background-color: #ffffff;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
}

.menu__header {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 53px;
    align-items: center;
}

.logo {
    display: block;
    margin-right: auto;
    height: 51px;
    align-self: center;
}


.navigation-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navigation__item {
    display: flex;
    align-items: center;
}

.navigation__link {
    position: relative;
    display: block;
    height: 32px;
    min-width: 210px;
    padding: 7px 0;
    background-color: rgba(65, 246, 215, 0);
    transition-property: background-color, color;
    transition-duration: 0.5s;
    text-align: left;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
    color: #1B1C21;
}

.navigation__link:hover {
    opacity: 0.6;
}

.navigation__link:focus {
    background-color: rgba(65, 246, 215, 0);
    color: #7E7E82;
}

.navigation__link:focus::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 32px;
    top: 0;
    left: -24px;
    background-color: #41F6D7;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 40px;
    font-style: normal;
}

.menu__email {
    font-weight: 500;
}

.menu__tel {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
}

.lang-switcher-list {
    display: flex;
    gap: 7px;
    font-weight: 500;
}

.lang-switcher__link:hover {
    opacity: 0.6;
}

.lang-switcher__link:focus {
    font-weight: normal;
}

/* brands */

.brands {
    background-color: #f8f8f8;
    min-height: 234px;
    border-top: 1px solid #D9FFF5;
}

.brands-box {
    padding-bottom: 24px;
}

.brands__title {
    position: relative;
    margin: 0;
    padding: 16px;
    width: 100%;
    min-height: 56px;
    
    background-image: linear-gradient(to right, #f8f8f8, #ffffff);
}

.brands__title::after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 81px;
    right: 0;
    bottom: -88px;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1));
    z-index: 10;
}

.swiper-slide {
    padding: 16px 0 28px 16px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    min-width: 240px;
    min-height: 72px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.swiper .swiper-pagination {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bebebe;
    margin: 0 6px !important;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

@media (min-width: 768px) {
    .brands {
        min-height: 322px;
    }

    .brands__title {
        padding: 16px 24px;
    }

    .brands__title::after {
        display: none;
    }

    .brands-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
        grid-template-rows: repeat(auto-fit, 72px);
        column-gap: 24px;
        row-gap: 16px;
        padding: 24px 24px 0 24px;
        margin-bottom: 24px;
        height: 184px;
        overflow: hidden;
    }

    .brand {
        min-width: 224px;
    }
}

@media (min-width: 1120px) {
    .brand {
        min-width: 240px;
    }

    .brand-box {
        padding: 24px 32px 0 32px;
    }

    .brands__title {
        padding: 16px 32px;
    }

    .brands-list {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 32px;
        padding: 24px 32px 0 32px;
    }
}

.max-height {
    height: 100%;
}