@use '_variables';
@use '_mixins';

.interactive-icons {
    display: none;

    @media (min-width: variables.$screen-xl) {
        position: absolute;
        display: flex;
        padding-right: 32px;
        gap: 32px;
        top: 0;
        right: 0;  
    }
}