@use '_variables';

.main-image {
    width: 100%;
    min-height: 176px;

    @media (min-width: variables.$screen-m) {
        padding-right: 24px;
    }

    &__img {
        width: 100%;
        height: auto;

        @media (min-width: variables.$screen-m) {
            min-width: 360px;
            min-height: 208px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}
