@use '_variables';

.text {
    line-height: variables.$line-height-large;
    font-size: variables.$font-size-medium;
    letter-spacing: variables.$letter-spacing-narrower;
    color: variables.$text-color-content;
    font-weight: variables.$font-weight-larger;
}

.text--smallest {
    line-height: variables.$line-height-smallest;
    font-size: variables.$font-size-small;
    color: variables.$text-color-content--lighter;
}

.text--small {
    @extend .text;
    line-height: variables.$line-height-small;
    font-size: variables.$font-size-small;
    letter-spacing: variables.$letter-spacing-wider;
    font-weight: variables.$font-weight-normal;
}

.text-info {
    line-height: variables.$line-height-medium;
    font-size: variables.$font-size-small;
    letter-spacing: variables.$letter-spacing-wider;
    color: variables.$text-color-content;
}

.text--lighter {
    @extend .text;
    color: variables.$text-color-content--lighter;
}

.text-title {
    @extend .text--lighter;
    text-transform: uppercase;
    font-weight: variables.$font-weight-normal;
}

.text-title--active {
    line-height: variables.$line-height-title;
    font-size: variables.$font-size-large;
    letter-spacing: variables.$letter-spacing-narrowest;
    color: variables.$text-color-content;
}

.text-footer {
    line-height: variables.$line-height-smallest;
    font-size: variables.$font-size-small;
    color: variables.$text-color-content--lighter;
}

.text-menu__email {
    line-height: variables.$line-height-large;
    font-size: variables.$font-size-medium;
    letter-spacing: variables.$letter-spacing-narrower;
    color: variables.$text-color-content;
    font-weight: variables.$font-weight-larger;
    font-style: normal;
}

.text-menu__tel {
    font-size: variables.$font-size-largest;
    font-style: normal;
    color: variables.$text-color-content;
}

.text-lang-switcher__link {
    @extend .text;
}

.text-offers__column-info {
    font-size: variables.$font-size-small;
    line-height: variables.$line-height-smallest;
    color: variables.$text-color-content--lighter;
}