@use '_variables';

.text {
    line-height: variables.$line-height-large;
    font-size: variables.$font-size-medium;
    letter-spacing: variables.$letter-spacing-narrower;
    color: variables.$text-color-content;
    font-weight: variables.$font-weight-larger;
}

.text--small {
    @extend .text;
    line-height: variables.$line-height-small;
    font-size: variables.$font-size-small;
    letter-spacing: variables.$letter-spacing-wider;
    font-weight: variables.$font-weight-normal;
}

.text--lighter {
    @extend .text;
    color: variables.$text-color-content--lighter;
}

.text-title {
    @extend .text--lighter;
    text-transform: uppercase;
    font-weight: variables.$font-weight-normal;
}

.text-title--active {
    line-height: variables.$line-height-title;
    font-size: variables.$font-size-large;
    letter-spacing: variables.$letter-spacing-narrowest;
    color: variables.$text-color-content;
}