@use '_variables';

.page {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
    background-color: variables.$bg-color-page;

    @media(min-width: variables.$screen-xl) {
        margin: 0 auto;
        max-width: 1120px;
    }
}