.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bebebe;
    margin: 0 6px !important;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.swiper__pagination {
    position: absolute;
    bottom: 30px !important;
    display: block;
    height: 12px;
}