@use '_variables';

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: variables.$bg-color-swiper-bullet;
    margin: 0 6px !important;
}

.swiper .swiper-pagination-bullet-active {
    background-color: variables.$bg-color-swiper-bullet--active;
}
