.swiper .swiper-pagination {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bebebe;
    margin: 0 6px !important;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}